body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #FFFFFF;
}

.top-bar {
    display: flex;
    /* for everything at the top to appear in one line*/
}

.name-logo {
    margin-right: 600px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-bar {
    display: inline-flex;
}

.top-menu {
    margin-right: 60px;
    /* space in between*/
    margin-left: 80px;
    word-spacing: 30px;
}

.login {
    margin-right: 25px;
}
    
.sign-up {
    width: 80px;
    height: 50px;
    background-color: transparent;
    font-size: 14px;
    color: #FFFFFF;
    border: 3px solid #CD9C20;
    /* ensures the button has solid borders with a specific colour and a transparent background */
    cursor: pointer;
    outline: none;
}
    
.sign-up:hover {
    color: black;
    background-color: #CD9C20;
    /* when a user hovers their cursor on the button it will change colour and the entire background of the button will be gold*/
    }
    
.app-container {
    display: flex;/* to have the solution statement appear next to each other */
    align-content: center;
    width: 1300px;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
}
    
.solution-statement {
margin-right: 40px;
font-size: 56px;
}
    
.last-section {
    display: flex;
}
    
.options {
    display: flex;
}

.get-it {
    margin-right: 15px;
    }
    
.download-app {
    color: black;
    background-color: #CD9C20; /* ensures the button has a specific background colour*/
    border: 3px solid black;
}
    
.download-app:hover {
    color: #FFFFFF;
    background-color: transparent;
    border: 3px solid #CD9C20; /* ensures the button has solid borders with a specific colour and a transparent background */
}
    
.members {
margin-left: 400px;
margin-right: 50px;
}
    
.downloads {
   margin-left: 20px;
}